@{
    ViewData["Title"] = "Home Page";
}

@model List<Laptop>

<div>
    <table border="1" class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Бренд</th>
                <th>Назва</th>
                <th>Потоки</th>
                <th>Оперативна пам'ять (ГБ)</th>
                <th>Розмір екрану (дюйми)</th>
                <th>Опис</th>
                <th>Дія</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach(var laptop in Model)
                {
                    <tr>
                        <td>@laptop.Id</td>
                        <td>@laptop.Brand</td>
                        <td>@laptop.Name</td>
                        <td>@laptop.Threads</td>
                        <td>@laptop.RAM</td>
                        <td>@laptop.ScreenSize</td>
                        <td>@laptop.Description</td>
                        <td><a asp-action="EditMenu" asp-controller="Home" asp-route-Id="@laptop.Id" asp-href-include="true">Змінити</a></td>
                    </tr>
                }
                
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="5">Всього ноутбуків: @Model.Count</td>
            </tr>
        </tfoot>
    </table>
</div>
